.header {
  height: 100px;
}

.title {
  display: block;
  font-family: Outfit, serif;
  font-optical-sizing: auto;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  margin: 0px;
  margin-top: 15px;
  text-align: center;
}

.doc {
  color: #1E90FF;
}

.snap {
  color: #32CD32;
}

.subtitle {
  text-align: center;
  display: block;
  font-family: "Outfit";
  font-style: italic;
  color: #a6a6a6;
}
